#hd{
	color:red;
	font-family:'segoe UI',Tahoma,Geneva,Verdana,san-Serif;
	background-color:yellow;
}
p{
	background-color:#ffcocb;
	color:blue;
 }
.center{text-align:center:yellow;
	background-color:blue;}
	*font-style:italic;}
